.page-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: var(--color-background);
  
}
/* #container-left{
  padding: 300px;
} */

img{
  margin: 180px;
}

#mainLogin {
  display: flex;
  align-items: center;
  width: 110%;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background: var(--color-primary) url('../../assets/images/success-background-rotated.svg') no-repeat center;

}

#mainLogin form legend {
  font: 600 3.6rem Poppins;
  line-height: 3.6rem;
  padding-bottom: 5rem;
  color: var(--color-text-title);
}

#mainLogin form {
  width: 80%;
  max-width: 35rem;
}

form #forgot{
  display: flex;
  justify-content: space-between;
 align-items: center;

}

form #forgot #span-lembrar-me{
  margin-left: -60px;
  color: var(--color-text-in-primary);
  font-weight: 400;
}


form #forgot #lembrar{
  align-self: center;
}

form a {
  text-decoration: none;

}

form a {
  font: 1.4rem Poppins;
  color: var(--color-text-in-primary);
  margin: 2.6rem 0;
  text-decoration: none;
  font-weight: 400;

}


.contentFooter {
  width: 80%;
  max-width: 35rem;
  display: flex;
  position: absolute;
  bottom: 6rem;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: -60px;

}

.contentFooter p {
  font-size: 1.2rem;
  line-height: 20px;
}

.contentFooter a {
  font-weight: 600;
  color: var(--color-text-title);
  text-decoration-color: white;
  text-decoration: none;

}
