.page-esq-senha {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    width: 100%;
    height: 100%;
    background: var(--color-primary) url('../../assets/images/success-background-rotated.svg') no-repeat center;
    
    
  }
  
  #container-right{
    color: var(--color-primary);
    height: 90vh;
    width: 400px;
    margin-left: -400;
  }
  
  main {
    display: flex;
    align-items: center;
    width: 110%;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background: #ffffff;
  
  } 
  
  main form legend {
    font: 900 3.6rem Poppins;
    line-height: 4.6rem;
    padding-bottom: 5rem;
    color: var(--color-primary);
  }
  
  main form {
    width: 80%;
    max-width: 35rem;
  }
  
  
  form {
    font: 1.4rem Poppins;
    color: var(--color-text-complement);
    text-decoration: none;
    margin: 2.6rem 0;
  
  }
  
  #cadastro{
   margin-top: 20px;
   color: #ffffff;
  }
  
  #p{
    margin-top: -20px;
    margin-bottom: 30px;
    color: var(--color-primary);
  }
  
  .contentFooter {
    width: 80%;
    max-width: 35rem;
    display: flex;
    position: absolute;
    bottom: 6rem;
    align-items: flex-start;
    justify-content: space-between;
  
  }
  
  .contentFooter p {
    font-size: 1.2rem;
    line-height: 20px;
  }
  
  .contentFooter a p {
    font-weight: 600;
    color: var(--color-primary);
  } 