:root {
  font-size: 60%;
  --color-background: #f0f0f7da;
  --color-primary-light: #4395e7;
  --color-primary: #114A83;
  --color-title-in-primary: #FFFFFF;
  --color-text-in-primary: #a7a7a7;
  --color-text-title: #ffffff;
  --color-text-complement: #ffffff;
  --color-disabled-button: #4CB5F2;
  --color-text-base: #858585;
  --color-line-in-white: #E6E6F0;
  --color-input-background: #F8F8FC;
  --color-button-text: #FFFFFF;
  --color-box-base: #FFFFFF;
  --color-box-footer: #FAFAFC;

  /* NOVAS  */
  --color-button-enviar: #4CB5F2;
  --color-button-enviar-hover: #67c3f8;
  --color-text-input: #9C98A6;

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100vh;
}

body {
  background:  var(--color-background);
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
input,
button,
textarea {
  font: 500 1.6rem Poppins;
  color: var(--color-text-base);
}

.container {
  width: 90vw;
  max-width: 700px;
}

@media (min-width: 700px) {
  :root{
    font-size: 62.5%;
  }
}